* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #8c976b;
}

.column {
  float: left;
  padding: 10px;
}


/* Middle column */
.column.middle {
  width: 50%;
}


/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  color: white;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg/1024px-Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg");
}

.header h1 {
  font-family: "Almendra Display";
  font-size: 50px;
}

.header p{
    font-family: "Times New Roman", Times, serif;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a card effect for articles */
.card {
  background-color: #f1f1f1;
  padding: 20px;
  width: auto;
  margin-top: 20px;
  margin-left: 100px;
  margin-right:100px;

}


/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

.imgleft{
  float: left;
  margin-right:100px;
}

.imgright{
  float: right;
  margin-left:100px;
  
}



